@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    background-image: url('bg3.jpg');
    background-position: bottom center;
    background-size: cover;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 350px;
    padding: 13px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 12px;
    color: #313131;
    font-size: 22px;
    font-weight: 400;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255,255,255,0.6)
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mission_wrapper{
    min-width:50vw;
    min-height:60vh;
    border:3px solid #FFCA33;
    border-radius:20px;
}

.detail_row{
    display:flex;
    justify-content: center;
    align-items: center;
}

.detail_block{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #FFCA33;
   border-radius:10px;
   background:none;
   padding:10px 20px;
   font-size: 20px;
   margin:10px;
   color:#FFCA33;
}


.label{
  color:#FFF;
  margin-right:5px;
}



.mission .name{
    color: #FFCA33;
    font-size:calc(25px + 2vw);
    font-weight: 900;
    margin: 30px 10px;
    text-shadow: 2px 2px 10px #FF8633;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
    text-shadow: 0 0 10px #FF8633, 0 0 20px #FF8633, 0 0 30px #FF8633;
 }
 
 to {
    text-shadow:  0 0 10px #FF8633,0 0 20px #FF8633, 0 1 30px #FF8633;
 }
}

.lnumber .number{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.lnumber .year{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.vehicle .rname{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.launch_site .rtype{
    font-weight: 900;
    font-size:15px;
    font-style:italic;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.links a{
    text-decoration: none;
    color:inherit;
}


.btn{
    border: 2px solid #FFCA33;
    background:none;
    padding:10px 20px;
    font-size: 20px;
    margin:10px;
    margin-left: 40px;
    color:#FFCA33;
    transition:0.8s;
    position: relative;
    border-radius: 6px;
    overflow:hidden;
    cursor: pointer;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #ffbb00;
    transition: .3s linear;
    z-index: -1;
}
.btn:hover:before{
    width: 100%;
    left: 0;
}
.btn:hover{
    color: #fff;
}
