*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'verdana' , sans-serif;
    background: url('bg3.jpg') no-repeat center center/cover fixed;
 
}

.app-wrap{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 350px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 12px;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  
}
.bg{
    background-color: #313131;
}

header input:focus {
    background-color: rgba(255,255,255,0.6)
}

main{
    padding: 14px 25px;
    text-align: center;
}

.mission_wrapper{
    min-width:50vw;
    min-height:60vh;
    border:3px solid #FFCA33;
    border-radius:20px;
}

.detail_row{
    display:flex;
    justify-content: center;
    align-items: center;
}

.detail_block{
   /* display: flex; */
   justify-content: center;
   align-items: center;
   border: 1px solid #FFCA33;
   border-radius:10px;
   background:none;
   padding:10px 13px;
   font-size: 20px;
   margin:10px;
   color:#FFCA33;
   
   
}


.label{
  color:#FFF;
  margin-right:5px;
}



.mission .name{
    color: #FFCA33;
    font-size:calc(25px + 2vw);
    font-weight: 900;
    margin: 30px 10px;
    text-shadow: 2px 2px 10px #FF8633;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
    text-shadow: 0 0 10px #FF8633, 0 0 20px #FF8633, 0 0 30px #FF8633;
 }
 
 to {
    text-shadow:  0 0 10px #FF8633,0 0 20px #FF8633, 0 1 30px #FF8633;
 }
}

.lnumber .number{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.lnumber .year{
    font-weight: 700;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.vehicle .rname{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.launch_site .rtype{
    font-weight: 900;
    font-size:15px;
    font-style:italic;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.links a{
    text-decoration: none;
    color:inherit;
}


.btn{
    border: 2px solid #FFCA33;
    background:none;
    padding:10px 20px;
    font-size: 20px;
    margin:10px;
    margin-left: 40px; 
    color:#FFCA33;
    transition:0.8s;
    position: relative;
    border-radius: 6px;
    overflow:hidden;
    cursor: pointer; 

    
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #ffbb00;
    transition: .3s linear;
    z-index: -1;
}
.btn:hover:before{
    width: 100%;
    left: 0;
}
.btn:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #f1c14ac7;
    box-shadow: -1px 2px 7px #f5de69b5;
}



#v {
    

    border-radius: 10px;


    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}

#v:hover {
     transform: translate3d(0, 5px,0);
    
    cursor: pointer;

   
    color: #255784; 
    background-color: #2196f3; 
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s; 
}
/* 
#donate:focus {
    outline: none;
} */

.neon{
    position: absolute;
    display: block;

}
.neon:nth-child(1){

    top: 0;
    left: -50%;
    width: 50%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
#v:hover .neon:nth-child(1){

    left: 100%;
    transition: 1s;
}
.neon:nth-child(3){
    bottom: 0;
    right: -50%;
    width: 50%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
#v:hover .neon:nth-child(3){
    right: 50%;
    transition: 1s;
    transition-delay: 0.5s;
}
.neon:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height:70%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
#v:hover .neon:nth-child(2){
    top: 30%;
    transition: 1s;
    transition-delay: 0.25s;
}

.neon:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 2px;
    height:70%;
    background: linear-gradient(360deg,transparent,#2196f3);
}
#v:hover .neon:nth-child(4){
    bottom:  100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.mode {
    float:right;
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    /* background-color: #222; */
    color:greenyellow;
}
.sh{
    box-shadow: rgba(0,255,0 ,0.4) 5px 5px, rgba(0,255,0, 0.3) 10px 10px, rgba(0,255,0, 0.2) 15px 15px, rgba(0,255,0, 0.1) 20px 20px, rgba(0,255,0, 0.05) 25px 25px;
}


















@media(max-width:550px){
    .lnumber .number{
        font-size: 30px;
    }
    .mission .name{
        font-size: 2rem;
        text-shadow: 2px 4px rgba(0,0,0,0.6)
    }
    .vehicle .rname{
font-size: 1.5em;
    }
}
@media (max-width:450px){
    header{
        flex-direction: column;
    }
    header input{
        max-width: 500px;
    }
    .btn{
        padding: 10px 50px;
        border-radius: 3px;
    }
    .lnumber .number{
        font-size: 25px;
    }

    .mission .name{
        font-size: 1.32rem;
        text-shadow: 2px 4px rgba(0,0,0,0.6)
    }
    .vehicle .rname{
        font-size: 1.35em;

    }
}

@media (max-width:350px){
    .detail_row{
        display: block;
    }
    .youBtn{
        padding: 10px 20px;
    }
}
/*Added Hovering*/
.search-box:hover {
    box-shadow: -1px 2px 4px rgb(138, 138, 138);
}