*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'verdana' , sans-serif;
    background-image: url('bg3.jpg');
    background-position: bottom center;
    background-size: cover;
}

.app-wrap{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 16px;
    
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255,255,255,0.6)
}

main{
    
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lnumber .number{
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: 900;
}

.lnumber .year{
    color: #FFFF;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.mission .name{
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0,0,0,0.6)
}

.vehicle .rname{
    color: #fff;
    font-size:32px;
    font-weight: 700;
    font-style:italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.vehicle .rtype{
    color: #fff;
    font-size:20px;
    font-weight: 700;
    font-style:italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}
.btn{
    border: 1px solid #FFCA33;
    background:none;
    padding:10px 20px;
    font-size: 20px;
    margin:10px;
    color:#FFCA33;
    transition:0.8s;
    position: relative;
    overflow:hidden;
}
.btn:hover{
    border: 1px solid #FF8633;
    color:#FF8633;
}
.btn::before{
    content: "";
    position:absolute;
    left:0;
    width:100%;
    height: 0%;
    background: #FF8633;
    z-index:-1;
    transition: 0.8s;
    top:0;
    border-radius: 0 0 50% 50%;
}
.btn:hover::before{
    height:180%;
}