*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'verdana' , sans-serif;
    background-image: url('bg3.jpg');
    background-position: bottom center;
    background-size: cover;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 350px;
    padding: 13px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 12px;
    color: #313131;
    font-size: 22px;
    font-weight: 400;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255,255,255,0.6)
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lnumber .number{
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: 900;
}

.lnumber .year{
    color: #FFFF;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.mission .name{
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0,0,0,0.6)
}

.vehicle .rname{
    color: #fff;
    font-size:32px;
    font-weight: 700;
    font-style:italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.vehicle .rtype{
    color: #fff;
    font-size:20px;
    font-weight: 700;
    font-style:italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}
.btn{
    border: 2px solid #FFCA33;
    background:none;
    padding:10px 20px;
    font-size: 20px;
    margin:10px;
    margin-left: 40px;
    color:#FFCA33;
    transition:0.8s;
    position: relative;
    border-radius: 6px;
    overflow:hidden;
    cursor: pointer;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #ffbb00;
    transition: .3s linear;
    z-index: -1;
}
.btn:hover:before{
    width: 100%;
    left: 0;
}
.btn:hover{
    color: #fff;
}

