* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "verdana", sans-serif;
  background: url("images/bg1.png") no-repeat center center/cover fixed;
}
::-webkit-scrollbar
{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#A2DBFA,#39A2DB);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(#A2DBFA,#39A2DB);
  overflow-y: hidden;
}

.back{
  padding: 0;
  animation: anim 2s;
  animation-timing-function: ease-in-out;
}
@keyframes anim {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
#preloading{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black url('ll3.gif') no-repeat center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  background-size: 45%;
  z-index: 9999;
}
.app-wrap {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 15px;
}

/* Navbar */
.logo img {
  padding-top: 0.2rem;
  max-height: 5rem;
  transition: transform 250ms;
}
.logo img:hover{
  transform: scale(1.1);
}
.nav-link{
  font-size: 1.1rem;
  margin-right: 2.5rem;
  font-weight: 500;
  position: relative;
}
.nav-item a{
  color: rgb(218, 216, 216);
  text-decoration: none;
  outline: none;
}
.nav-item a:hover{
  color: #FF94CC;
}
.nav-item a:focus{
  color: rgb(255, 238, 7);
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #39A2DB;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover::after{
  transition: all 0.2s;
}
.cont1 {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 33px;
  height: 2px;
  border: 2.5px solid #3EDBF0;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  transition: 0.4s;
}
.navbar-toggler{
  color: #ffffff;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px) ;
}
/* Navbar */

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header input {
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.9) ;
}

main {
  padding: 14px 25px;
  text-align: center;
}



.mission_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vw;
  min-height: 60vh;
  border: 3px solid #3EDBF0;
  border-radius: 20px;
}

.detail_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mname {
  max-width: 40vw;
  margin: 10px 10px;
}
.mission {
  margin-bottom: 20px;
}


.detail_block {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 1px solid #3EDBF0;
  border-radius: 10px;
  background: none;
  padding: 10px 13px;
  font-size: 20px;
  margin: 10px;
  color: #3EDBF0;
}
.detail_block_c {
  /* display: flex; */
  /*animation-fill-mode: both;*/

  justify-content: center;
  align-items: center;
  border: 0px solid #3EDBF0;
  border-radius: 50px;
  background: none;
  padding: 10px 18px;
  font-size: 20px;
  margin: 10px 40px 10px 40px;
  color: #3EDBF0;
}
.patch_img{
  align-items: center;
  justify-content: center;
  animation: moveLeft 5.5s forwards;
  -webkit-animation: moveLeft 5.5s forwards;
}
@keyframes moveLeft {

    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 100;
    }

}
@-webkit-keyframes moveLeft {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
      transform: translateX(0px);
    opacity: 100;
  }
}
.slide-in {

    animation: fadeIn 5.5s forwards;
    -webkit-animation: fadeIn 5.5s forwards;
}
.slide-in2 {

    animation: fadeIn 5.5s forwards;
    animation-delay: 0.1s ;
    -webkit-animation: fadeIn 5.5s forwards;
    -webkit-animation-delay:0.1s;
}
.slide-in3 {
  animation: fadeIn 5.5s forwards;
  animation-delay: 0.1s ;
  -webkit-animation: fadeIn 5.5s forwards;
  -webkit-animation-delay:0.1s;
}
.slide-in4 {
  animation: fadeIn 5.5s forwards;
  animation-delay: 0.1s ;
  -webkit-animation: fadeIn 5.5s forwards;
  -webkit-animation-delay:0.1s;
}
.slide-in5 {
  animation: fadeIn 5.5s forwards;
  animation-delay: 0.1s ;
  -webkit-animation: fadeIn 5.5s forwards;
  -webkit-animation-delay:0.1s;
}
.slide-in6 {

  animation: fadeIn 5.5s forwards;
  animation-delay: 0.1s ;
  -webkit-animation: fadeIn 5.5s forwards;
  -webkit-animation-delay:0.1s;
}
@keyframes fadiIn {
    from {
      transform: translateX(-400px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 100;
    }
}

@-webkit-keyframes fadeIn {
  from {
    transform: translateX(-400px);
    opacity: 0;
  }
  to {
      transform: translateX(0px);
    opacity: 100;
  }
}
.patch_img{
  text-align: center;
  justify-content: center;
}

.detail_block1 {
  /* display: flex; */
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #3EDBF0;
  background: none;
  padding: 10px 13px;
  font-size: 20px;
  color: #3EDBF0;
}

.label {
  color: #fff;
  margin-right: 5px;
}
.mission {
  padding: 0;
  position: relative;
  overflow: hidden;
  /* border:2px solid blue; */
  margin-top: 20px;
}
.mission .name {
  color: #04009A;
  font-size: calc(25px + 2vw);
  font-weight: 900;
  margin: 30px 15px;
  text-shadow: 2px 2px 10px #ffffff;
  animation: glow 3s ease-in-out infinite alternate;
}
.mission .name1 {
  color: #BEAEE2;
  font-size: calc(25px + 2vw);
  font-weight: 900;
  margin: 30px 10px;
  text-shadow: 2px 2px 10px #BEAEE2;
  animation: glow 3s ease-in-out infinite alternate;
}
.boss{
  background: url("images/bg1.png") no-repeat center center/cover fixed;
  position: absolute;
  animation: typew 1.5s steps(10) infinite alternate ;

}
@keyframes typew {
  0%{
    position: absolute;
  right: 92px;
  height: 90%;
  width: 60%;
  }
  75%{
    position: absolute;
    height: 90%;
    width: 0px;
  right: 92px;
  }
  /* 100%{
    position: absolute;
    height: 90%;
    width: 0px;
  right: 19%;
  } */

}
.mission .anime span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0px;
  right: 2vw;
  background: linear-gradient(to Right, transparent, rgb(251 ,	122	, 252));
  animation: border_anime 2s linear infinite;
}
.mission .anime span:nth-child(2) {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 9px;
  right: 0px;
  background: linear-gradient(to bottom, transparent, rgb(255 , 148	, 204));
  animation: border_anime2 2s linear infinite;
  animation-delay: 1s;
}
.mission .anime span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 98%;
  right: 2px;
  background: linear-gradient(to Left, transparent, rgb(251 ,	122	, 252));
  animation: border_anime3 2s linear infinite;
}
.mission .anime span:nth-child(4) {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 9px;
  right: 99.4%;
  background: linear-gradient(to top, transparent, rgb(255 , 148	, 204));
  animation: border_anime4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes border_anime {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes border_anime3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes border_anime2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes border_anime4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 06px #88FFF7, 0 0 8px #88FFF7, 0 0 10px #88FFF7;
  }

  to {
    text-shadow: 0 0 06px #88FFF7, 0 0 8px #88FFF7, 0 1 10px #88FFF7;
  }
}

.lnumber .number {
  font-weight: 900;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.6);
}

.lnumber .year {
  font-weight: 700;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.6);
}

.vehicle .rname {
  font-weight: 900;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.6);
}

.launch_site .rtype {
  font-weight: 900;
  font-size: 15px;
  font-style: italic;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.6);
}

.links a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 2px solid #9FD8DF;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  /* margin-left: 40px; */
  color: #9FD8DF;
  transition: 0.8s;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #19D3DA;
  transition: 0.3s linear;
  z-index: -1;
}
.btn:hover:before {
  width: 100%;
  left: 0;
}
.btn:hover {
  color: #fff;
  text-shadow: 1px 1px 1px #f1c14ac7;
  box-shadow: -1px 2px 7px #f5de69b5;
}

/*Video Modal*/
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay__hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 18%;
  left: 18%;
  right: 15%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.modal__hidden {
  display: none;
}

.video__container {
  overflow: hidden;
  position: relative;
  width: calc(100px + 55vw);
  margin: 5px;
  border: 4px solid #7868E6;
  box-shadow: -1px 2px 7px #B8B5FF;
  height: auto;
}

.video__container::after {
  padding-top: 56.1%;
  display: block;
  content: "";
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__closebar {
  width: fit-content;
  color: #ffca33;
  font-size: 40px;
  box-shadow: -1px 2px 7px #f5de69b5;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: -2rem;
  margin-right: -2rem;
}
@media (min-width: 1025px) {
  .spa {
    display: none;
  }
}

@media (max-width: 550px) {
  .lnumber .number {
    font-size: 30px;
  }

  .mission .name {
    font-size: 2rem;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.6);
  }
  .vehicle .rname {
    font-size: 1.5em;
  }
  .modal {
    top: 25%;
    left: 5%;
    right: 0;
  }
  .video__container {
    border: 3px solid #ffca33;
  }
  .modal__closebar {
    font-size: 30px;
    margin-top: -1.5rem;
    margin-right: -1.5rem;
  }
}
@media (max-width: 450px) {
  header {
    flex-direction: column;
    padding-top: 20px;
  }

  header input {
    max-width: 500px;
  }
  .btn {
    padding: 10px 50px;
    border-radius: 3px;
  }
  .lnumber .number {
    font-size: 25px;
  }

  .mission .name {
    font-size: 1.32rem;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.6);
  }
  .vehicle .rname {
    font-size: 1.35em;
  }
}

@media (max-width: 350px) {
  .detail_row {
    display: block;
  }
  .youBtn {
    padding: 10px 20px;
  }
  .modal__closebar {
    font-size: 25px;
    margin-top: 0rem;
    margin-right: 0rem;
  }
}

/*Added Hovering*/
.search-box:hover {
  box-shadow: -1px 2px 4px rgb(138, 138, 138);
}

/*Footer*/
footer {
  background-color: #ffffff;
  animation: glow 3s ease-in-out infinite alternate;
  background: linear-gradient(90deg, #5C33F6 -40%, black 50%, #5C33F6 140%);
  text-align: center;
  padding-bottom: 15px;
}
.sm-handle {
  display: flex;
  padding: 1rem 4rem 0 4rem;
  justify-content: center;
}
.sm-button {
  margin: 0px 10px 0px;
  border-radius: 100%;
  border: 1px solid #bababa;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.sm-button:hover {
  background: linear-gradient(to right,#39A2DB, #B5EAEA);
}


.fab {
  color: #fff;
  font-size: 16px;
}
.copyright {
  font-size: 10px;
  word-spacing: 2px;
  color: white;
  letter-spacing: 1.5px;
  padding-bottom: 0;
}


.to-top
{
    background-color: #3EDBF0;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 60px;
    height: 60px;
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top:hover{
  color: #3EDBF0;
  background-color: lightgray;
}

.to-top.active
{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
