*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'verdana' , sans-serif;
    background: url('bg3.jpg') no-repeat center center/cover fixed;
  
}

.app-wrap{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 350px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 12px;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255,255,255,0.6)
}

main{
    padding: 14px 25px;
    text-align: center;
}

.mission_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:50vw;
    min-height:60vh;
    border:3px solid #FFCA33;
    border-radius:20px;
}

.detail_row{
    display:flex;
    justify-content: center;
    align-items: center;
}

.detail_block{
   /* display: flex; */
   justify-content: center;
   align-items: center;
   border: 1px solid #FFCA33;
   border-radius:10px;
   background:none;
   padding:10px 13px;
   font-size: 20px;
   margin:10px;
   color:#FFCA33;
}


.label{
  color:#FFF;
  margin-right:5px;
}



.mission .name{
    color: #FFCA33;
    font-size:calc(25px + 2vw);
    font-weight: 900;
    margin: 30px 10px;
    text-shadow: 2px 2px 10px #FF8633;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
    text-shadow: 0 0 10px #FF8633, 0 0 20px #FF8633, 0 0 30px #FF8633;
 }
 
 to {
    text-shadow:  0 0 10px #FF8633,0 0 20px #FF8633, 0 1 30px #FF8633;
 }
}

.lnumber .number{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.lnumber .year{
    font-weight: 700;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.vehicle .rname{
    font-weight: 900;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.launch_site .rtype{
    font-weight: 900;
    font-size:15px;
    font-style:italic;
    text-shadow: 0px 3px rgba(0,0,0,0.6)
}

.links a{
    text-decoration: none;
    color:inherit;
}


.btn{
    border: 2px solid #FFCA33;
    background:none;
    padding:10px 20px;
    font-size: 20px;
    margin:10px;
    /* margin-left: 40px; */
    color:#FFCA33;
    transition:0.8s;
    position: relative;
    border-radius: 6px;
    overflow:hidden;
    cursor: pointer;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #ffbb00;
    transition: .3s linear;
    z-index: -1;
}
.btn:hover:before{
    width: 100%;
    left: 0;
}
.btn:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #f1c14ac7;
    box-shadow: -1px 2px 7px #f5de69b5;
}
@media(max-width:550px){
    .lnumber .number{
        font-size: 30px;
    }
    .mission .name{
        font-size: 2rem;
        text-shadow: 2px 4px rgba(0,0,0,0.6)
    }
    .vehicle .rname{
font-size: 1.5em;
    }
}
@media (max-width:450px){
    header{
        flex-direction: column;
    }
    header input{
        max-width: 500px;
    }
    .btn{
        padding: 10px 50px;
        border-radius: 3px;
    }
    .lnumber .number{
        font-size: 25px;
    }

    .mission .name{
        font-size: 1.32rem;
        text-shadow: 2px 4px rgba(0,0,0,0.6)
    }
    .vehicle .rname{
        font-size: 1.35em;

    }
}

@media (max-width:350px){
    .detail_row{
        display: block;
    }
    .youBtn{
        padding: 10px 20px;
    }
}

/*Added Hovering*/
.search-box:hover {
    box-shadow: -1px 2px 4px rgb(138, 138, 138);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 1px 15px 47px 8px;
    background: #180d0154;
    width: 300px;
    display: list-item;
    margin: 30px 28px 30px 66px;
    border-radius: 12px;
    list-style: none;
    
  }
  .cnt{
    font-size: 32px;
    color:#FFCA33;
  }
  .cnt1{
    font-size: 20px;
    color:#FFCA33;
  }
  .row{
      display:inline-block;
      margin: 0px 0px 0px 74px;
  }
  .row1{
    margin: 29px 5px 5px 55px;
    /* height: 500px; */
    position: absolute;
  }
  .section-bg{
    padding:52px 0px;
  }
  .contact .info-box i {
    font-size: 32px;
    color: #5846f9;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: rgb(250 215 43);
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 17px;
    margin-bottom: 0;
    color:rgb(250 215 43);
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #180d013d;
    width: min-content;
    border-radius: 12px;
    width: 816px;
    height: 533px;
    margin-left: 16px;
    
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #5846f9;
  }
  
  .contact .php-email-form input {
    padding: 15px 192px;
    margin: 31px 5px 25px 5px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 190px;
    height: 150px;
    margin: 31px 5px 47px 85px;
  }
  
  .contact .php-email-form button[type="submit"] {
    padding: 14px 33px;
    transition: 0.4s;
    border-radius: 5px;
    margin: 0px 0px 0px 278px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .col-lg-6 .col-lg-3{
      display:inline-block;
  }
  .col-md-6{
    margin: 0px 0px -16px 5px;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

